body {
    background-color: rgba(164, 176, 245, 1);
}

h1 {
    padding: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

table {
    border: rgba(125, 70, 0, 1);
    border-style: solid;
    color: rgba(255, 107, 53, 1);
}

#header a {
    color: rgba(255, 107, 53, 1);
}

#header {
    background-color: rgba(68, 100, 173, 1);
}

.link {
    font-size: x-small;
    color: rgba(255, 107, 53, 1);
}

#gumbRegistracija {
    display: hidden;
}

#teloTabele, #kosaricaTable {
    color: black;
    margin-right: 20px;
}

#skupniZnesek {
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
}

.belo {
    color: white;
}
